<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
	<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@title, Stacey</title>
		<link rel="stylesheet" href="@root_path/docs/css/style.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
	  <p class="message">Documentation</p>
		<div id="container">
      <ol id="inner-navigation" class="col three">
        :docs-navigation
				:download-link
				<li><a href="http://news.staceyapp.com">News & Updates</a></li>
				<li><a href="http://getsatisfaction.com/stacey">Support</a></li>
			</ol>
			<div id="content" class="col seven">
  			<h6><a href="/">Stacey</a><em>2</em></h6>
  			<div class="col seven">
  			  @content
  			</div>
			</div>
			<div id="footer">
        <p class="internal-footer">This site is running on stacey <br>
          — <a href="http://github.com/kolber/stacey-site">view the source</a></p>
			</div>
		</div>
		<script src="@root_path/docs/js/navigation.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
		<script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-10631696-1"); pageTracker._trackPageview(); } catch(err) {}</script>
	</body>
</html>