<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
	<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Stacey, The Lightweight Content Management System</title>
		<link rel="stylesheet" href="@root_path/docs/css/style.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<div id="container">
			<div id="content" class="home">
			 	<h6>Stacey<a href="mailto:&#102;e&#101;&#100;&#98;a&#99;&#107;&#64;st&#97;&#99;&#101;&#121;a&#112;&#112;&#46;&#99;&#111;&#109;">f&#101;&#101;&#100;b&#97;&#99;&#107;&#64;s&#116;&#97;&#99;&#101;&#121;ap&#112;.&#99;&#111;m</a></h6>
  			<div class="col six">
        	<p>Stacey is a lightweight content management system.<br>No database setup or installation files, simply drop the application on a server and it runs. Your content is managed by creating folders and editing text files. No login screens, no admin interface.<br>
        	  <a href="/how-it-works/">How it works &rarr;</a></p>
        	<ol id="navigation">
        		<li><a href="/installation/">Installation</a></li>
        		<li><a href="/in-use/">In Use</a></li>
        		<li><a href="/download-templates/">Templates</a></li>
        		<li><a href="/documentation/">Documentation</a></li>
        		<li><a href="http://news.staceyapp.com">News & Updates</a></li>
        		<li><a href="http://getsatisfaction.com/stacey">Support</a></li>
        	</ol>
        </div>
        <div class="col four">
        	<p>To run stacey, your server will need:</p>
        	<ol id="requirements">
        		<li><p>PHP 5+</p></li>
        		<li class="optional"><p>Apache with mod_rewrite (optional)</p></li>
        		<li class="optional"><p>htaccess file support (optional)</p></li>
        	</ol>
        	<h4 id="download">&rarr;</h4>
        	<h1><a href="/download/">Download</a></h1>
        	<p id="current-version">
        	  get '/download' do
        	    foreach $zip do <em>@name</em> endforeach
        	  end
        	</p>

        	<p>Tutorials,</p>
        	<ol id="subnav">
        		<li><a href="/tutorials/running-on-osx/">Running stacey on OSX</a></li>
        		<li><a href="/tutorials/enable-clean-urls/">Enabling clean urls</a></li>
        	</ol>

        </div>
  			<div id="footer">
  				<p class="col six">
  				  <em>An <a href="http://www.aestheticallyloyal.com">aesthetically loyal</a> project.</em>
  				  <em class="internal-footer">This site is running on stacey — <a href="http://github.com/kolber/stacey-site">view the source</a></em>
  				</p>
  				<p class="col four">
  					<em>Opensourced on <a href="http://github.com/kolber/stacey">Github</a>.</em>
  					<em><a href="http://pledgie.com/campaigns/6816">Project donations</a> welcomed.</em>
  				</p>
  			</div>
			</div>
		</div>
		<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
		<script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-10631696-1"); pageTracker._trackPageview(); } catch(err) {}</script>
	</body>
</html>